  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Object",
    "alternateName": "오브젝트",
    "url": "https://object.so/",
    "logo": "https://object.so/assets/img/favicon.svg",
    "image": "https://object.so/assets/img/og-1200x630.png",
    "email": "contact@object.so",
    "founder": {
      "@type": "Person",
      "name": "Jaemyeong Jin",
      "alternateName": "진재명"
    },
    "foundingDate": "2019-11-11",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "86 Sangni-ro, Buk-gu",
      "addressLocality": "Busan",
      "addressCountry": "KR"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "contact@object.so",
      "contactType": "customer support",
      "availableLanguage": ["en", "ko"]
    }
  }
  </script>
