  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "오브젝트",
    "alternateName": "Object",
    "url": "https://object.so/",
    "logo": "https://object.so/assets/img/favicon.svg",
    "image": "https://object.so/assets/img/og-1200x630.png",
    "email": "contact@object.so",
    "founder": {
      "@type": "Person",
      "name": "진재명",
      "alternateName": "Jaemyeong Jin"
    },
    "foundingDate": "2019-11-11",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "부산광역시 북구 상리로 86",
      "addressLocality": "부산광역시",
      "addressRegion": "북구",
      "addressCountry": "KR"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "contact@object.so",
      "contactType": "customer support",
      "availableLanguage": ["ko", "en"]
    }
  }
  </script>
